.rtl{
	header.head h1{
		text-align: left;
	}
}

/* header */
header.head{
	background-color: #cccacc;
	&>.row:first-child{
		padding : 30px 0 0;
	}
	img{
		/*margin-right: 15px;*/
		border-radius: 100%;
		border: none;
		display: inline-block;
	}
	.logo {
		// margin-top: 30px;
		a, a:hover, a:visited, a:focus{
			text-decoration: none;
			color:#404040!important;
		}
		h1 {
			font-size: 35px;
		}
	}
} 

