
/* header */
header.head{
	background-color: #cccacc;
	height: 130px;
	img{
		/*margin-right: 15px;*/
		border-radius: 100%;
		border: none;
		display: inline-block;
		margin-top: 20px;
	}
	.logo {
		margin-top: 40px;
	}
} 
