.rtl{
	header.head h1{
		text-align: left;
	}
}

/* header */
header.head{
	background-color: #cccacc;
	min-height: 130px;
	img{
		/*margin-right: 15px;*/
		border-radius: 100%;
		border: none;
		display: inline-block;
		margin-top: 20px;
	}
	.logo {
		margin-top: 30px;
		h1 {
			font-size: 35px;
		}
	}
} 

