
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


#content{
	margin-top:50px;
	background-color: #cccacc;
}


.carousel{
	.item{
		height: 430px;
	}
}

.imgcat {
	height: 200px;
	float: left;
	width:auto;
	margin:10px;
}

.imgpopup{
    height: 70vh;
    width: auto;
    margin: auto;
    display: block;
}

.accordion{
	width:100%;
	div{
		display: block;
		float:left;
		img{
			width:100%;

		}
	}
	p{
		position: absolute;
		left:0;
		z-index:999;
	}
}
.modal-content{
	height: 90vh;
    width: auto;
}
