@import url('https://fonts.googleapis.com/css?family=David+Libre|Proza+Libre|Rock+Salt');

body,
button,
input,
select,
textarea{
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
	font-family: 'Proza Libre', sans-serif,
               'David Libre', serif,
               Helvetica,
               Arial,
               sans-serif!important;
}

.inline{display:inline-block;}

@import "headings";

@import "copy";