header nav{
	background:white;
	img{border-radius:0;}
	.menu {
		padding-top:10px;
		ul{padding-left:0;padding-right:0;margin-right:0;margin-left:0;}
		li {
			list-style-type: none;
		    margin: 0;
		    padding-right: 30px;
		    display: inline-block;
			&:nth-child(1){
		    	padding-left: 0px;
			}
			&:nth-child(5){
					float: right;
				}
			&:nth-child(6){
					float: right;
				}
			a{
				font-size: 20px;
				color: black;
				.icon-2x {
					font-size: 20px;
				}
			}
		}
	}
}

@media screen and (max-width: 37.5em) {
	header nav .menu{
		padding:0;
		margin:0;
		li{
			padding-right: 10px;
			&:nth-child(6){
				float: none;
				display: block;
				text-align: right;
			}
		}
	}
}